src/.vs
src/Externals/bin
src/Externals/obj
src/SemiAutomatic/bin
src/SemiAutomatic/obj
src/WpfTest/bin
src/WpfTest/obj
src/Communicators/bin
src/Communicators/obj
src/CodeGeneration/obj
src/CodeGeneration/bin
src/SemiAuto.Data/obj
src/SemiAuto.Data/bin
src/SemiAutomatic/StyleCop.Cache
src/Externals/SemiAuto.Externals.csproj.user
